<div class="modal fade" id="EditPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="editPassController">

<div class="modal-dialog">
	<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="myModalLabel">Code</h4>
	</div>
	<div class="modal-body">
		<form novalidate name="createOrgForm" class= "myForm" ng-submit="onSubmitNewCode()">
			
			<div class="form-group">
			<input type="password" ng-blur="validateRealpass()" ng-model="userValidate.pass" class="form-control" placeholder="real password">
			<span class="help-block" ng-show="Auth.realPassword">enter the correct password</span>
			</div>
			<div class="form-group">
			<input type="password" ng-blur="validatepass()" ng-model="userValidate.newPass" class="form-control" placeholder="new password">
			<span class="help-block" ng-show="Auth.passwordShort">password is short</span>
			</div>

			<div class="form-group">
			<input type="password" ng-blur="validateRepass()" ng-model="userValidate.newRePass" class="form-control" placeholder="re enter new password ">
			<span class="help-block" ng-show="Auth.passNotMatch">doesn't match</span>
			</div>

			<span class="help-block" ng-show="Auth.server">doesn't match</span>

			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Save changes</button>
				<button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>

			</div>
		</form>
	</div>

	</div>
</div>